<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <script src="../../resources/js/jquery-3.5.0.min.js"></script>
    <script src="../../resources/js/popper.min.js"></script>
    <script src="../../resources/js/bootstrap.min.js"></script>
</head>
<body>
<del><input type="text" value="hahahah" class="form-control bg-white border-0 ml-2 mt-5" id="inputPassword" placeholder="Password" readonly style="cursor: default"></del><br>
<del><input type="text" value="hahahah" class="form-control bg-white border-0 ml-2" id="inputPassword" placeholder="Password" readonly style="cursor: default"></del><br>
<input type="text" value="hahahah" class="form-control bg-white border-0 ml-2" id="inputPassword" placeholder="Password" readonly style="cursor: default">
</body>
</html>